<div class="texto m-3">
    <h1 class="my-2">{{ 'menu3' | translate }}</h1>

    <!--Parte de informacion-->
    <div class="row my-2">
        <div class="col-12 col-sm-4">
            <h3>{{ 'contacto1' | translate }}</h3>
            <p>Lorem Ipsum</p>
        </div>
        <div class="col-12 col-sm-4">
            <h3>{{ 'contacto2' | translate }}</h3>
            <p>Lorem Ipsum</p>
        </div>
        <div class="col-12 col-sm-4">
            <h3>{{ 'contacto3' | translate }}</h3>
            <p>Lorem Ipsum</p>
        </div>
    </div>

     <!--Mapa externo de google-->
     <div class="row my-2">
        <div class="col-12 mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d730.9313623997693!2d-8.547280345336157!3d42.87863870725317!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2efe419fe52f15%3A0x63b8a543bf549f26!2sIES%20San%20Clemente%20%5BInstituto%20de%20F.P.%20San%20Clemente%5D!5e0!3m2!1ses!2ses!4v1661645766785!5m2!1ses!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
     </div>

    <!--Formulario de contacto-->
    <form class="contacto my-2">
    <fieldset>
        <legend class="m-1">{{ 'menu3' | translate }}</legend>
        <div class="row my-1">
            <div class="col-12 col-sm-4">
                <label>{{ 'contacto4' | translate }}:</label>
            </div>
            <div class="col-12 col-sm-4">
                <input type="text">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12 col-sm-4">
                <label>{{ 'contacto3' | translate }}:</label>
            </div>
            <div class="col-12 col-sm-4">
                <input type="text">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12 col-sm-4">
                <label>{{ 'contacto6' | translate }}:</label>
            </div>
            <div class="col-12 col-sm-4">
                <textarea></textarea>
            </div>
        </div>
        <div class="row my-1 centrar">
            <div class="col-12 col-sm-3 mx-5">
                <button type="submit" class="enviar">{{ 'contacto7' | translate }}</button>
            </div>
            <div class="col-12 col-sm-3">
                <button type="reset" class="reset">{{ 'contacto8' | translate }}</button>
            </div>
        </div>  
    </fieldset>        
    </form>

</div>