/*VARIABLES*/
$fondoMenuCor: #c0c0c0;
$letraCor: #1A5276;
$letraVermella: #cd6155;

.arribaUsuario {
    color:$letraCor;
    button {background-color: $letraCor; color:white; border:0px; padding:.8em; text-align: center;}
}

.botonNivel {
    text-align: center;
    button {background-color: $letraCor; border:0px; padding:.8em; color:white;}
}

.etapaNivel {margin: 1em;}

.volver {background-color: $letraVermella; border:0px; padding:.8em; color:white;}