<!--Abrese o formulario segun o que se vai a facer
    BORRAR NIVEL-->
    <form class="formularioAberto" (ngSubmit)="deleteNivel();">
        <div class="row my-1">
            <div class="col-4">
                <label>{{ 'adminEngadir1' | translate }}:</label>
            </div>
            <div class="col-8">
                <select name="nivelTarget" [(ngModel)]="nivelTarget">
                    <option *ngFor="let nivel of arrayNiveles" [ngValue]="nivel"> {{nivel.nome}}</option>
                </select>
            </div>
        </div>
    
        <div class="row centrar">
            <div class="col-12">
                <button type="submit">{{ 'adminElim1' | translate }}</button>
            </div>
        </div>
    </form>
