<footer>
    <div class="row pedepaxina">
        <div class="col-sm-12 col-md-4 politicas">
            <ul>
                <a href="assets/documents/aviso-legal.pdf" target="_blank"><li>{{ 'pedepaxina1' | translate }}</li></a>
                <a href="assets/documents/politica-privacidad.pdf" target="_blank"><li>{{ 'pedepaxina2' | translate }}</li></a>
                <a href="assets/documents/politica-cookies.pdf" target="_blank"><li>{{ 'pedepaxina3' | translate }}</li></a>
            </ul>
        </div>
    
        <div class="col-sm-6 col-md-4 colaboradores">
            <h3>{{ 'pedepaxina4' | translate }}</h3>
            <img src="./assets/colaboradores.png" alt="Colaborador 1">
            <img src="./assets/colaboradores.png" alt="Colaborador 2">
            <img src="./assets/colaboradores.png" alt="Colaborador 3">
        </div>
    
        <div class="col-sm-6 col-md-4 conecenos">
            <h3>{{ 'pedepaxina5' | translate }}</h3>
            <div class="rrss">
                <a href="https://www.facebook.com" target="_blank"><img src="./assets/rrss.png" alt="Enlace a Facebook"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="./assets/rrss.png" alt="Enlace a Twitter"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="./assets/rrss.png" alt="Enlace a Instagram"></a>
                <a href="https://www.tiktok.com" target="_blank"><img src="./assets/rrss.png" alt="Enlace a Tik Tok"></a>
            </div>  
        </div>
    </div>
</footer>