/* You can add global styles to this file, and also import other style files */

html {margin:0px; padding: 0px;}
body {margin: 0px; padding: 0px; font-family: 'Cantarell'; background-color: #f0f0f0; color: #1A5276; overflow-x: hidden;}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
